#chat-screen {
  background-color: var(--chat-page-color);
  height: 500vh;
}
#chat-screen .alt-screen-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: var(--chat-page-color);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 300ms linear;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  margin-right: 10px;
}

.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}

.message__box {
  background-color: white;
  padding: 13px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message-row--own .message__box {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0;
  margin-left: 5px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.reply .reply__column:first-child {
  width: 7%;
}
.reply .reply__column:last-child {
  width: 93%;
  position: relative;
}
.reply i {
  opacity: 0.6;
}
.reply input {
  padding: 5px 15px;
  /* height: 30px; */
  width: 100%;
  font-size: 18px;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 2px;
  top: 1.5px;
}
.reply__column:last-child .fa-smile-wink {
  right: 40px;
  top: 8px;
}
.reply__column:last-child .fa-hashtag {
  right: 7px;
  top: 8px;
}

.reply__column button {
  background-color: var(--yellow);
  color: var(--brown);
  border: none;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}
.reply__column button i {
  opacity: 1;
}

.reply:focus-within button {
  visibility: visible;
  opacity: 1;
}

@keyframes snowfall {
  from {
    transform: none;
  }
  to {
    transform: translateY(95vh);
  }
}

.snow-fall-screen__snow-flower {
  will-change: transform;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 4px 2px #e5e5e5;
  position: fixed;
  z-index: -1;
  top: 10px;
}
.snow-fall-screen__snow-flower:nth-child(1) {
  left: 5%;
  animation: snowfall 10s ease-in-out infinite;
  animation-delay: 1000ms;
}
.snow-fall-screen__snow-flower:nth-child(2) {
  left: 10%;
  animation: snowfall 5s ease-in-out infinite;
  animation-delay: 2500ms;
}
.snow-fall-screen__snow-flower:nth-child(3) {
  left: 17%;
  animation: snowfall 2.5s ease-in-out infinite;
  animation-delay: 3700ms;
}
.snow-fall-screen__snow-flower:nth-child(4) {
  left: 93%;
  animation: snowfall 10s ease-in-out infinite;
  animation-delay: 4500ms;
}
.snow-fall-screen__snow-flower:nth-child(5) {
  left: 50%;
  animation: snowfall 5s ease-in-out infinite;
  animation-delay: 5000ms;
}
.snow-fall-screen__snow-flower:nth-child(6) {
  left: 25%;
  animation: snowfall 2s ease-in-out infinite;
  animation-delay: 6000ms;
}
.snow-fall-screen__snow-flower:nth-child(7) {
  left: 77%;
  animation: snowfall 10s ease-in-out infinite;
  animation-delay: 6300ms;
}
.snow-fall-screen__snow-flower:nth-child(8) {
  left: 80%;
  animation: snowfall 6s ease-in-out infinite;
  animation-delay: 7200ms;
}
.snow-fall-screen__snow-flower:nth-child(9) {
  left: 44%;
  animation: snowfall 3s ease-in-out infinite;
  animation-delay: 7800ms;
}
.snow-fall-screen__snow-flower:nth-child(10) {
  left: 91%;
  animation: snowfall 11s ease-in-out infinite;
  animation-delay: 8000ms;
}
.snow-fall-screen__snow-flower:nth-child(11) {
  left: 60%;
  animation: snowfall 4s ease-in-out infinite;
  animation-delay: 8500ms;
}
.snow-fall-screen__snow-flower:nth-child(12) {
  left: 37%;
  animation: snowfall 2s ease-in-out infinite;
  animation-delay: 8800ms;
}
.snow-fall-screen__snow-flower:nth-child(13) {
  left: 56%;
  animation: snowfall 12s ease-in-out infinite;
  animation-delay: 9000ms;
}
.snow-fall-screen__snow-flower:nth-child(14) {
  left: 7%;
  animation: snowfall 5s ease-in-out infinite;
  animation-delay: 9600ms;
}
.snow-fall-screen__snow-flower:nth-child(15) {
  left: 72%;
  animation: snowfall 2.3s ease-in-out infinite;
  animation-delay: 10000ms;
}
